*.bam
*.bam.bai
*.bed
*.fq.gz
*.html
*.log
*.loupe
*.molecule.tsv
*.path
*.pdf
*.sam.gz
*.time
*_lrbasic/
*_lrwgsvc/*.mri.tgz
*_lrwgsvc/*/*
*_lrwgsvc/_*
.Rproj.user
data/*
!*_lrwgsvc/outs/summary.csv
!*_lrwgsvc/outs/summary.png
!multiqc/*.html
!data/README.md
